.choose-us {
    background-color: $bgColor;

    &__wrapper {
        padding: 180px 0 180px 0;

        @media (max-width: 1043px) {
            padding: 100px 0;
        }

        @media (max-width: 662px) {
            padding: 50px 0;
        }
    }

    &__title {
        @extend %title-m;
        margin-bottom: 60px;
        text-align: center;

        @media (max-width: 1043px) {
            font-size: 40px;
        }

        @media (max-width: 662px) {
            font-size: 30px;
        }
    }
}

.props {
    max-width: 1338px;
    margin: 0 auto 189px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 936px) {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 378px;

        @media (max-width: 1170px) {
            max-width: 350px;
        }

        @media (max-width: 1072px) {
            max-width: 300px;
        }

        @media (max-width: 936px) {
            max-width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }

    &__image {
        width: 180px;
        height: 180px;
        margin: 0 auto 36px;
        background-color: $circle;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1170px) {
            width: 150px;
            height: 150px;
        }

        @media (max-width: 936px) {
            margin: 0 auto 0;
        }

        @media (max-width: 1072px) {
            width: 100px;
            height: 100px;
        }

        @media (max-width: 936px) {
            margin-right: 20px;
            background-color: transparent;
        }
    }

    &__icon {
        width: 72px;

        @media (max-width: 1170px) {
            width: 60px;
        }

        @media (max-width: 1072px) {
            width: 40px;
        }
    }

    &__text-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 936px) {
            align-items: start;
        }
    }

    &__title {
        @extend %title-choose;
        margin-bottom: 11px;

        @media (max-width: 1170px) {
            font-size: 22px;
        }

        @media (max-width: 1072px) {
            font-size: 20px;
        }
    }

    &__description {
        line-height: 170%;
        text-align: center;
        color: $textColor;

        @media (max-width: 1170px) {
            font-size: 16px;
        }

        @media (max-width: 1072px) {
            font-size: 14px;
        }

        @media (max-width: 936px) {
            text-align: start;
        }

        @media (max-width: 350px) {
            text-align: justify;
        }
    }
}

.testimonials {
    position: relative;
    max-width: 1003px;
    margin: 0 auto;

    &__image {
        margin-bottom: 10px;

        @media (max-width: 1072px) {
            width: 70px;
        }

        @media (max-width: 1072px) {
            width: 50px;
        }
    }

    &__text {
        font-size: 32px;
        color: $white;
        line-height: 157%;
        margin-bottom: 40px;
        text-transform: capitalize;

        @media (max-width: 1072px) {
            font-size: 28px;
        }

        @media (max-width: 936px) {
            font-size: 22px;
        }

        @media (max-width: 400px) {
            font-size: 19px;
        }
    }

    &__person {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 22px;
        font-weight: 600;
        line-height: 126%;
        color: $white;
        text-transform: capitalize;

        @media (max-width: 1072px) {
            font-size: 18px;
        }

        @media (max-width: 936px) {
            font-size: 14px;
        }
    }

    &__post {
        @media (max-width: 936px) {
            font-size: 14px;
        }
    }

    &__buttons {
        position: absolute;
        bottom: 0;
        right: 53px;
        margin-bottom: 26px;
        z-index: 4;

        @media (max-width: 1072px) {
            margin-bottom: 10px;
        }

        @media (max-width: 400px) {
            margin-bottom: 15px;
        }
    }

    &__button {
        cursor: pointer;
        background: none;
        border: none;

        @media (max-width: 500px) {
            width: 10px;
        }

        &--prev {
            margin-right: 70px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                background-color: $bgSeparate;
                top: 0;
                right: -40px;
                transform: scale(1.2);
            }
        }
        &--next {
            transform: rotate(180deg);
            padding-top: 3px;
        }
    }
}
