@import '../component/variable';

.header {
    background-color: $bgColor;

    &__wrapper {
        margin: 40px 0 95px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navigation {
        display: flex;
        align-items: center;
    }

    &__button {
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: $white;

        background: none;
        border: none;
        cursor: pointer;

        &--login {
            padding: 10px 29px;
            color: $textColor;

            border: 1px solid $accentColor;
            transition: background-color 0.3s;

            &:hover {
                background-color: #172330;
            }

            @media (max-width: 352px) {
                font-size: 14px;
                padding: 7px 22px;
            }
        }

        &--sign {
            padding: 11px 20px;
            background-color: $accentColor;
            transition: background-color 0.3s;

            &:hover {
                background-color: #158578;
            }

            @media (max-width: 1016px) {
                display: none;
            }
        }
    }

    &__burger {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 50;

        width: 30px;
        height: 18px;
        cursor: pointer;
        margin-left: 40px;

        display: none;

        @media (max-width: 860px) {
            display: flex;
        }

        @media (max-width: 352px) {
            margin-left: 20px;
        }

        span {
            width: 100%;
            height: 2px;
            background-color: $accentColor;
            transform: scale(1);
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: $accentColor;
            transition: all 0.3s;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: $accentColor;
            transition: all 0.3s;
        }

        &.active {
            span {
                display: none;
            }

            &::before {
                top: calc(50% - 1px);
                transform: rotate(-45deg) translate(0, -50%);
            }

            &::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0, 50%);
            }
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 42px;
    margin-right: 74px;

    @media (max-width: 1050px) {
        margin-right: 33px;
    }

    @media (max-width: 906px) {
        gap: 30px;
    }

    @media (max-width: 856px) {
        margin-right: 50px;
    }

    @media (max-width: 860px) {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;

        position: fixed;
        top: 0;
        left: -80%;
        bottom: 0;
        right: 0;
        z-index: 4;

        overflow-y: auto;
        padding: 50px 40px;
        background-color: $accentColor;
        row-gap: 90px;
    }
    &.open {
        left: 0;
        transition: all 0.3s;
    }

    &__item {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;

        position: relative;
        transition: all 0.4s;

        &:hover {
            color: $white;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 100%;
                height: 3px;
                background-color: $accentColor;
            }
        }
        @media (max-width: 860px) {
            font-size: 25px;

            &::before {
                display: none;
            }
        }
    }
}
