%title-l {
    font-weight: 600;
    font-size: 68px;
    line-height: 126%;
    text-transform: capitalize;
}

%title-m {
    font-weight: 600;
    font-size: 68px;
    line-height: 126%;
}
