//? COLORS
$white: #fff;
$accentColor: #1aa090;

$bgColor: #121b25;
$bgGradient: linear-gradient(270deg, #1a242f 0.01%, rgba(26, 36, 47, 0) 82.97%);
$bgFooter: #1a242f;
$bgSeparate: #353f49;

$textColor: #d6d6d6;

$filter-title: #858585;
$filter-select: #121b25;
$filter-select-shadow: 3px 1px 18px 1px rgba(34, 60, 80, 0.2);
$filter-separate: #e8e8e8;
$filter-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3);

$hover-accent-btn: #158578;
$circle: rgba(26, 160, 144, 0.12);
