//? COLORS
$white: #fff;
$accentColor: #1aa090;

$bgColor: #121b25;
$bgGradient: linear-gradient(270deg, #1a242f 0.01%, rgba(26, 36, 47, 0) 82.97%);
$bgFooter: #1a242f;

$textColor: #d6d6d6;
$selectText: #121b25;

$circle: rgba(26, 160, 144, 0.12);
